  /* ---------------- HEADER CONTENTS ---------------- */

  .text__name {
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
    color: #fff;
  }

  .yellow__text {
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
    color: rgb(255, 199, 45);
  }

  p {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

p:hover {
  color: rgb(255, 199, 45);
}

p:active {
  transform: scale(0.95);
}


/* ---------------- HEADER LINE ---------------- */


/* ---------------- HEADER SECTION ---------------- */


.section__padding {
  padding: 10rem 5rem;
}

.gpt3__header {
  display: flex;
  flex-direction: row;
}

.gpt3__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
/* ---------------- HEADER 2 ---------------- */

.location {
  padding-top: 2rem;
    font-weight: 800;
    font-size: 40px;
    line-height: 75px;
    letter-spacing: -0.04em;
    color: #fff;
}


.header__content-2 {
  display: flex;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



/* ---------------- HEADER IMG ---------------- */

.header__img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__img img {
    width: 100%;
    height: 100%;
}

/* ---------------- CONTACT BUTTON ---------------- */
.contact__btn {
  background-color: #424242;
  border: 2px solid rgb(255, 199, 45);
  color: white;
  font-weight: 700;
  width: 100%;
  max-width: 180px;
  padding: 12px 24px;
  font-size: 20px;
  transition: all 300ms ease;
}

.contact__btn:hover {
  background-color: transparent;
  border: 3px solid #c0c4cc;
}

.contact__btn:active {
  transform: scale(0.95);
}
/* ------------------- MEDIA ------------------ */

@media screen and (max-width: 1050px) {

  .section__padding {
    padding: 2rem 3rem;
  }

  .gpt3__header-content {
    align-items: center;
  }

  .header__img img {
    width: 65%;
    height: 65%;
  }
  .gpt3__header {
    flex-direction: column;
  }

  .gpt3__header-content {
    margin: 0 0 3rem;
  }

  .location {
    font-size: 38px;
    line-height: 60px;
  }
}

  @media screen and (max-width: 650px) {

.yellow__text {
  font-size: 42px;
}
  
html, body {
  overflow-x: hidden;
}
    

.gpt3__header-content {
  align-items: center;
}

.header__img img {
  width: 65%;
  height: 65%;
}

.contact__btn {
  padding: 5px;
  font-size: 18px;
  max-width: 100px;
  max-height: 36px;
}
.gpt3__header-content h1 {
  font-size: 48px;
  line-height: 60px;
}

.location {
  font-size: 34px;
  line-height: 60px;
}

.gpt3__header-content p {
    font-size: 16px;
    line-height: 24px;
}

.gpt3__header-content__people {
    flex-direction: column;
}

.gpt3__header-content__people p {
    margin: 0;
}

.gpt3__header-content__input input,
.gpt3__header-content__input button {
    font-size: 16px;
    line-height: 24px;
}
}

@media screen and (max-width: 490px) {
  
  .gpt3__header-content {
    align-items: center;
  }

  .header__img img {
    width: 75%;
    height: 75%;
  }

  .gpt3__header-content h1 {
      font-size: 36px;
      line-height: 48px;
  }

  .location {
    font-size: 28px;
    line-height: 48px;
  }

  .gpt3__header-content p {
      font-size: 14px;
      line-height: 24px;
  }

  .gpt3__header-content__input input,
  .gpt3__header-content__input button {
      font-size: 12px;
      line-height: 16px;
  }
}
