#projects {
    height: 100vh;
}

.line {
    width: 200px;
    height: 1px;
    background-color: rgb(255, 199, 45);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .line__box {
    position: absolute;
    top: 1150px;
    left: 50%;
    transform: translateX(-50%);
  }